/* css styles */
body {
  font-family: "Helvetica", sans-serif;
  background-color: #f9fafc;
  color: #333;
}

h1, h2 {
  color: black;
}

.navbar {
  background-color: minty;
}

body {
  font-family: '', sans-serif;
  color: #333;
  background-color: ;
  line-height: 1.7;
}

h2, h3 {
  color: black; /* ocean blue */
}

img {
  border: 2px solid #eee;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

